* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}

body {
    font-size: 14px;
    line-height: 1.2;
    color: #000;
}
h1 {
    margin-bottom: 10px;
    font-size: 20px;
}
h2 {
    margin-bottom: 10px;
    font-size: 15px;
}
a {
    color: #000;
}