<section id="modal" class="plugin">
  <h1>Modal</h1>
<!-- CODE -->
<p class="plugin__description">- CODE / 기본</p>
<div class="code">
  <div class="code__language"><i class="fas fa-code"></i> HTML</div>
<pre>
<code class="html">
  &lt;!-- 모달 버튼 --&gt;
  &lt;button class="pualugin__button" data-element="modal__open" data-target="#modal"&gt;모달 오픈&lt;/button&gt;
  &lt;!-- 모달 --&gt;
  &lt;div id="m1" class="pualugin-modal__element" data-element="modal__element"&gt;
    &lt;div class="pualugin-modal__container" data-element="modal__element-container"&gt;
      &lt;div class="pualugin-modal__contents" data-element="modal__element-contetns"&gt;
        모달 내용입니다.
        &lt;button class="pualugin-modal__close" data-element="modal__close"&gt;닫기&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</code>
</pre>
</div>
<!-- CODE -->

<!-- RESULT -->
<p class="plugin__description">- RESULT</p>
<button class="pualugin__button" data-element="modal__open" data-target="#m1">모달 오픈</button>
<div id="m1" class="pualugin-modal__element" data-element="modal__element">
  <div class="pualugin-modal__container" data-element="modal__element-container">
    <div class="pualugin-modal__contents" data-element="modal__element-contetns" style="height: 2000px;">
      모달 내용입니다.
      <button class="pualugin-modal__close" data-element="modal__close">닫기</button>
    </div>
  </div>
</div>
<!-- //RESULT -->

<!-- Options -->
<div class="pualugin-options">
  <div class="pualugin-options__title">Options</div>
  <ul class="pualugin-options__ul">
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        closeExisting
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: Boolean
        </li>
        <li class="pualugin-options__li">
          default: true
        </li>
        <li class="pualugin-options__li">
          description:
          기본적으로 1개의 모달만 열립니다, 그러나 동시에 여러 모달의 스택이 필요한 경우 closeExisting 옵션을 false로 설정하면 됩니다.
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        stackLevel
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: Number
        </li>
        <li class="pualugin-options__li">
          default: 10
        </li>
        <li class="pualugin-options__li">
          description:
          <br>&nbsp;&nbsp;&nbsp;closeExisting 옵션이 true인 경우(default) 열린 모달에 z-index를 추가합니다.
          <br>&nbsp;&nbsp;&nbsp;closeExisting 옵션이 false인 경우 스택이 쌓일 때 설정한 값의 +10씩 모달의 z-index에 추가합니다.
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        mobileResolution
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: Number
        </li>
        <li class="pualugin-options__li">
          default: 1280
        </li>
        <li class="pualugin-options__li">
          description: 모바일 디바이스의 기준 해상도를 정의합니다. 기본적으로 1280px 이하는 모바일로 분류됩니다.
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        modalClassName
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: pualugin-modal
        </li>
        <li class="pualugin-options__li">
          description: 모달을 감싸고 있는 컨테이너의 class를 설정합니다.
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        modalMaskClassName
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: pualugin-modal__mask
        </li>
        <li class="pualugin-options__li">
          description: 모달안의 마스크(dimd) class를 설정합니다.
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        activeClassName
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: is-open
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- //Options -->

<!-- Event -->
<p class="plugin__description">
  - Event
</p>
<div class="code">
<span class="code__language"><i class="fas fa-code"></i>JAVASCRIPT</span>
<pre>
<code class="javascript">
  var yourVariable = $('.your-element');

  yourVariable.on('modalOpen', function( event, plugin, modal ){
      /* your code ... */
  })

  yourVariable.on('modalClose', function( event, plugin, modal ){
      /* your code ... */
  })
</code>
</pre>
</div>
<div class="pualugin-options">
  <ul class="pualugin-options__ul">
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        modalOpen
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: event, plugin, modal
        </li>
        <li class="pualugin-options__li">
          description: 모달 오픈 전 실행될 함수
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        modalClose
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: event, plugin, modal
        </li>
        <li class="pualugin-options__li">
          description: 모달 오픈 후 실행될 함수
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- //Event -->

<!-- Method -->
<p class="plugin__description">
  - Method
</p>
<div class="code">
<span class="code__language"><i class="fas fa-code"></i>JAVASCRIPT</span>
<pre>
<code class="javascript">
  var yourVariable = $('.your-element').data('plugin_modal');

  yourVariable.open( '#your-element' );

  yourVariable.close( '#your-element' );

  yourVariable.destroy();

  yourVariable.reInit();
</code>
</pre>
</div>
<div class="pualugin-options">
  <ul class="pualugin-options__ul">
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        open
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: modal(String)
        </li>
        <li class="pualugin-options__li">
          description: 모달 열기
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        close
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: modal(String)
        </li>
        <li class="pualugin-options__li">
          description: 모달 닫기
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        destroy
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: none
        </li>
        <li class="pualugin-options__li">
          description: 플러그인 제거
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        reInit
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: none
        </li>
        <li class="pualugin-options__li">
          description: 플러그인 제거 후 생성
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- //Method -->

<!-- Initialzied -->
<p class="plugin__description">
  - <span>모든 플러그인은 기본적으로 페이지 렌더링시 Initialized 됩니다.</span> <span>개별적(비동기 마크업 구현) Initialize 필요한 경우 아래와 같이 진행합니다.</span>
</p>
<div class="code">
<span class="code__language"><i class="fas fa-code"></i>JAVASCRIPT</span>
<pre>
<code class="javascript">
  $('.your-element').modal(); // Initialize
</code>
</pre>
</div>
<!-- Initialzied -->

</section>