<div id="tab" class="plugin">
  <h1>Tab</h1>
<!-- CODE -->
<p class="plugin__description">
  - CODE / 기본
</p>
<div class="code">
<div class="code__language"><i class="fas fa-code"></i> HTML</div>
<pre>
<code class="html">
  &lt;div class="pualugin-tab" data-element="tab"&gt;
    &lt;ul class="pualugin-tab__ul"&gt;
      &lt;li class="pualugin-tab__list" data-element="tab__list"&gt;
          &lt;a href="#" class="pualugin-tab__anchor" data-element="tab__anchor"&gt;tab-anchor1&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="pualugin-tab__list" data-element="tab__list"&gt;
          &lt;a href="#" class="pualugin-tab__anchor" data-element="tab__anchor"&gt;tab-anchor2&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="pualugin-tab__list" data-element="tab__list"&gt;
          &lt;a href="#" class="pualugin-tab__anchor" data-element="tab__anchor"&gt;tab-anchor3&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
    &lt;div class="pualugin-tab__panel" data-element="tab__panel"&gt; tab-panel1 &lt;/div&gt;
    &lt;div class="pualugin-tab__panel" data-element="tab__panel"&gt; tab-panel2 &lt;/div&gt;
    &lt;div class="pualugin-tab__panel" data-element="tab__panel"&gt; tab-panel3 &lt;/div&gt;
  &lt;/div&gt;
</code>
</pre>
</div>
<!-- //CODE -->
<!-- RESULT -->
<p class="plugin__description">
  - RESULT
</p>
<div class="pualugin-result">
  <div class="pualugin-tab" data-element="tab">
    <ul class="pualugin-tab__ul">
      <li class="pualugin-tab__list" data-element="tab__list">
          <a href="#" class="pualugin-tab__anchor" data-element="tab__anchor">tab-anchor1</a>
      </li>
      <li class="pualugin-tab__list" data-element="tab__list">
          <a href="#" class="pualugin-tab__anchor" data-element="tab__anchor">tab-anchor2</a>
      </li>
      <li class="pualugin-tab__list" data-element="tab__list">
          <a href="#" class="pualugin-tab__anchor" data-element="tab__anchor">tab-anchor3</a>
      </li>
    </ul>
    <div class="pualugin-tab__panel" data-element="tab__panel"> tab-panel1 </div>
    <div class="pualugin-tab__panel" data-element="tab__panel"> tab-panel2 </div>
    <div class="pualugin-tab__panel" data-element="tab__panel"> tab-panel3 </div>
  </div>
</div>
<!-- //RESULT -->
<!-- CODE -->
<p class="plugin__description">
  - CODE / 옵션 : initIndex: 1
</p>
<div class="code">
<div class="code__language"><i class="fas fa-code"></i> HTML</div>
<pre>
<code class="html">
  &lt;div class="pualugin-tab" data-element="tab" data-options='{ "initIndex": 1 }'&gt;
    &lt;ul class="pualugin-tab__ul"&gt;
      &lt;li class="pualugin-tab__list" data-element="tab__list"&gt;
          &lt;a href="#" class="pualugin-tab__anchor" data-element="tab__anchor"&gt;tab-anchor1&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="pualugin-tab__list" data-element="tab__list"&gt;
          &lt;a href="#" class="pualugin-tab__anchor" data-element="tab__anchor"&gt;tab-anchor2&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="pualugin-tab__list" data-element="tab__list"&gt;
          &lt;a href="#" class="pualugin-tab__anchor" data-element="tab__anchor"&gt;tab-anchor3&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
    &lt;div class="pualugin-tab__panel" data-element="tab__panel"&gt; tab-panel1 &lt;/div&gt;
    &lt;div class="pualugin-tab__panel" data-element="tab__panel"&gt; tab-panel2 &lt;/div&gt;
    &lt;div class="pualugin-tab__panel" data-element="tab__panel"&gt; tab-panel3 &lt;/div&gt;
  &lt;/div&gt;
</code>
</pre>
</div>
<!-- //CODE -->
<!-- RESULT -->
<p class="plugin__description">
  - RESULT
</p>
<div class="pualugin-result">
  <div class="pualugin-tab" data-element="tab" data-options='{ "initIndex": 1 }'>
    <ul class="pualugin-tab__ul">
      <li class="pualugin-tab__list" data-element="tab__list">
          <a href="#" class="pualugin-tab__anchor" data-element="tab__anchor">tab-anchor1</a>
      </li>
      <li class="pualugin-tab__list" data-element="tab__list">
          <a href="#" class="pualugin-tab__anchor" data-element="tab__anchor">tab-anchor2</a>
      </li>
      <li class="pualugin-tab__list" data-element="tab__list">
          <a href="#" class="pualugin-tab__anchor" data-element="tab__anchor">tab-anchor3</a>
      </li>
    </ul>
    <div class="pualugin-tab__panel" data-element="tab__panel"> tab-panel1 </div>
    <div class="pualugin-tab__panel" data-element="tab__panel"> tab-panel2 </div>
    <div class="pualugin-tab__panel" data-element="tab__panel"> tab-panel3 </div>
  </div>
</div>
<!-- //RESULT -->

<!-- Options -->
<div class="pualugin-options">
  <div class="pualugin-options__title">Options</div>
  <ul class="pualugin-options__ul">
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        mode
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
            type: String
        </li>
        <li class="pualugin-options__li">
          default: static
        </li>
        <li class="pualugin-options__li">
          description: static, slide, fade 중 선택
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        speed
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: Number
        </li>
        <li class="pualugin-options__li">
          default: 300
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        easing
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: swing
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        event
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: click
        </li>
        <li class="pualugin-options__li">
          description: click, focusin 중 선택
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        initIndex
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: Number
        </li>
        <li class="pualugin-options__li">
          default: 0
        </li>
        <li class="pualugin-options__li">
          description: 원하는 탭 순서 노출
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        autoScroll
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: Boolean
        </li>
        <li class="pualugin-options__li">
          default: false
        </li>
        <li class="pualugin-options__li">
          description: 탭 클릭 시 해당 탭의 상단까지 자동으로 스크롤 여부
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        activeClassName
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: is-active
        </li>
        <li class="pualugin-options__li">
          description: 탭 활성화 클래스
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        disabledClassName
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: is-disabled
        </li>
        <li class="pualugin-options__li">
          description: 탭 비활성화 클래스
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        selectedText
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: Selected
        </li>
        <li class="pualugin-options__li">
          description: title 속성값
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- //Options -->

<!-- Event -->
<p class="plugin__description">
  - Event
</p>
<div class="code">
<span class="code__language"><i class="fas fa-code"></i>JAVASCRIPT</span>
<pre>
<code class="javascript">
  var yourVariable = $('.your-element');

  yourVariable.on('beforeChange', function( event, plugin, anchor, panel ){
      /* your code ... */
  })

  yourVariable.on('afterChange', function( event, plugin, anchor, panel ){
      /* your code ... */
  })
</code>
</pre>
</div>
<div class="pualugin-options">
  <ul class="pualugin-options__ul">
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        beforeChange
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          Arguments: event, plugin, anchor, panel
        </li>
        <li class="pualugin-options__li">
          description: 패널 오픈 전 실행될 함수
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        afterChange
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          Arguments: event, plugin, anchor, panel
        </li>
        <li class="pualugin-options__li">
          description: 패널 오픈 후 실행될 함수
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- //Event -->

<!-- Method -->
<p class="plugin__description">
  - Method
</p>
<div class="code">
<span class="code__language"><i class="fas fa-code"></i>JAVASCRIPT</span>
<pre>
<code class="javascript">
  var yourVariable = $('.your-element').data('plugin_tab');

  yourVariable.open(1); //OR
  yourVariable.open(2, true); //OR
  yourVariable.open(0, false); //OR

  yourVariable.destroy();

  yourVariable.reInit();
</code>
</pre>
</div>
<div class="pualugin-options">
  <ul class="pualugin-options__ul">
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        open
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          Arguments: index, autoScroll(Boolean): 선택된 탭의 상단으로 스크롤 이동 여부
        </li>
        <li class="pualugin-options__li">
          description: 원하는 탭 오픈
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        destroy
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          Arguments: none
        </li>
        <li class="pualugin-options__li">
          description: 플러그인 제거
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        reInit
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          Arguments: none
        </li>
        <li class="pualugin-options__li">
          description: 플러그인 제거 후 생성
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- //Method -->

<!-- Initialzied -->
<p class="plugin__description">
  - <span>모든 플러그인은 기본적으로 페이지 렌더링시 Initialized 됩니다.</span> <span>개별적(비동기 마크업 구현) Initialize 필요한 경우 아래와 같이 진행합니다.</span>
</p>
<div class="code">
<span class="code__language"><i class="fas fa-code"></i>JAVASCRIPT</span>
<pre>
<code class="javascript">
  $('.your-element').tab(); // Initialize
</code>
</pre>
</div>
<!-- Initialzied -->

</div>