<div id="toggle" class="plugin">
  <h1 class="plugin__title">Toggle</h1>
<!-- CODE -->
<p class="plugin__description">
  - CODE: 기본
</p>
<div class="code">
<div class="code__language"><i class="fas fa-code"></i> HTML</div>
<pre>
<code class="html">
  &lt;div data-element="toggle"&gt;
    &lt;button class="pualugin__button" data-element="toggle__anchor"&gt;toggle_anchor&lt;/button&gt;
    &lt;div data-element="toggle__panel"&gt;toggle_panel&lt;/div&gt;
  &lt;/div&gt;
</code>
</pre>
</div>
<!-- //CODE -->
<!-- RESULT -->
<p class="plugin__description">
  - RESULT
</p>
<div class="pualugin-result">
  <div data-element="toggle">
    <button class="pualugin__button" data-element="toggle__anchor">toggle_anchor</button>
    <div data-element="toggle__panel">toggle_panel</div>
  </div>
</div>
<!-- //RESULT -->

<!-- CODE -->
<p class="plugin__description">
  - CODE: DIV 버튼 (DIV태그를 이용한 버튼생성은 추천하지 않으나 필요한 경우 사용)
</p>
<div class="code">
<div class="code__language"><i class="fas fa-code"></i> HTML</div>
<pre>
<code class="html">
  &lt;div data-element="toggle"&gt;
    &lt;div class="pualugin__button" data-element="toggle__anchor"&gt;toggle_anchor&lt;/div&gt;
    &lt;div data-element="toggle__panel"&gt;toggle_panel&lt;/div&gt;
  &lt;/div&gt;
</code>
</pre>
</div>
<!-- //CODE -->
<!-- RESULT -->
<p class="plugin__description">
  - RESULT
</p>
<div class="pualugin-result">
  <div data-element="toggle">
    <div class="pualugin__button" data-element="toggle__anchor">toggle_anchor</div>
    <div data-element="toggle__panel">toggle_panel</div>
  </div>
</div>
<!-- //RESULT -->

<!-- CODE -->
<p class="plugin__description">
  - CODE: 옵션 추가
</p>
<div class="code">
<div class="code__language"><i class="fas fa-code"></i> HTML</div>
<pre>
<code class="html">
  &lt;div data-element="toggle" data-options='{ "isOpened": true, "onChangeBeforeText": "열기", "onChangeAfterText": "닫기" }'&gt;
    &lt;button class="pualugin__button" data-element="toggle__anchor"&gt;toggle_anchor&lt;/button&gt;
    &lt;div data-element="toggle__panel"&gt;toggle_panel&lt;/div&gt;
  &lt;/div&gt;
</code>
</pre>
</div>
<!-- //CODE -->

<!-- RESULT -->
<p class="plugin__description">
  - RESULT
</p>
<div class="pualugin-result">
  <div data-element="toggle" data-options='{ "isOpened": true, "onChangeBeforeText": "열기", "onChangeAfterText": "닫기" }'>
    <button class="pualugin__button" data-element="toggle__anchor">toggle_anchor</button>
    <div data-element="toggle__panel">toggle_panel</div>
  </div>
</div>
<!-- //RESULT -->

<!-- Options -->
<div class="pualugin-options">
  <div class="pualugin-options__title">Options</div>
  <ul class="pualugin-options__ul">
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        mode
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
            type: String
        </li>
        <li class="pualugin-options__li">
          default: static
        </li>
        <li class="pualugin-options__li">
          description: static, slide, fade 중 선택
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        isOpened
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: Boolean
        </li>
        <li class="pualugin-options__li">
          default: false
        </li>
        <li class="pualugin-options__li">
          description: 초기에 toggle__panel 노출 여부를 설정
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        event
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: click
        </li>
        <li class="pualugin-options__li">
          description: click, focusin 중 선택
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        easing
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: swing
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        activeClassName
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: is-active
        </li>
        <li class="pualugin-options__li">
          description: 토글 활성화 클래스
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        onChangeBeforeText
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: null
        </li>
        <li class="pualugin-options__li">
          description: panel 오픈 전 노출될 anchor 텍스트
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        onChangeAfterText
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          type: String
        </li>
        <li class="pualugin-options__li">
          default: null
        </li>
        <li class="pualugin-options__li">
          description: panel 오픈 후 노출될 anchor 텍스트
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- //Options -->

<!-- Event -->
<p class="plugin__description">
  - Event
</p>
<div class="code">
<span class="code__language"><i class="fas fa-code"></i>JAVASCRIPT</span>
<pre>
<code class="javascript">
  var yourVariable = $('.your-element');

  yourVariable.on('beforeChange', function( event, plugin, anchor, panel ){
      /* your code ... */
  })
  
  yourVariable.on('afterChange', function( event, plugin, anchor, panel ){
      /* your code ... */
  })
</code>
</pre>
</div>
<div class="pualugin-options">
  <ul class="pualugin-options__ul">
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        beforeChange
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: event, plugin, anchor, panel
        </li>
        <li class="pualugin-options__li">
          description: 패널 오픈 전 실행될 함수
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        afterChange
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: event, plugin, anchor, panel
        </li>
        <li class="pualugin-options__li">
          description: 패널 오픈 후 실행될 함수
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- //Event -->

<!-- Method -->
<p class="plugin__description">
  - Method
</p>
<div class="code">
<span class="code__language"><i class="fas fa-code"></i>JAVASCRIPT</span>
<pre>
<code class="javascript">
  var yourVariable = $('.your-element').data('plugin_toggle');

  yourVariable.show();

  yourVariable.hide();

  yourVariable.destroy();

  yourVariable.reInit();
</code>
</pre>
</div>
<div class="pualugin-options">
  <ul class="pualugin-options__ul">
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        show
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: none
        </li>
        <li class="pualugin-options__li">
          description: 패널 열기
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        hide
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: none
        </li>
        <li class="pualugin-options__li">
          description: 패널 닫기
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        destroy
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: none
        </li>
        <li class="pualugin-options__li">
          description: 플러그인 제거
        </li>
      </ul>
    </li>
    <li class="pualugin-options__li">
      <div class="pualugin-options__name">
        reInit
      </div>
      <ul class="pualugin-options__ul">
        <li class="pualugin-options__li">
          arguments: none
        </li>
        <li class="pualugin-options__li">
          description: 플러그인 제거 후 생성
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- //Method -->

<!-- Initialzied -->
<p class="plugin__description">
  - <span>모든 플러그인은 기본적으로 페이지 렌더링시 Initialized 됩니다.</span> <span>개별적(비동기 마크업 구현) Initialize 필요한 경우 아래와 같이 진행합니다.</span>
</p>
<div class="code">
<span class="code__language"><i class="fas fa-code"></i>JAVASCRIPT</span>
<pre>
<code class="javascript">
  $('.your-element').toggle(); // Initialize
</code>
</pre>
</div>
<!-- Initialzied -->

</div>